*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: Inter;
}
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F5F7FA;
}
.header1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 450px;
}
.Icon{
    display: flex;
    gap: 25px;
}
.hover{
    display: flex;
    gap: 20px;
    font-family: Inter;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}
.login{
    width: 91px;
    height: 40px;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    border-radius: 6px;
    text-decoration: none;
    color: #4CAF4F; 
}
.Sign-up{
    width: 91px;
    height: 40px;
    padding: 10px 20px 10px 20px;
    gap: 10px;
    border-radius: 6px;
    text-decoration: none;
    background-color: #4CAF4F;
    color: #FFFFFF; 
}
.content{
    background-color: #F5F7FA;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1,440px;
    height: 599px;
    padding: 96px 144px 96px 144px;
    gap: 104px;
}
.text{
    display: flex;
    flex-direction: column;
    padding: 20px;
    margin: 50px;
}
.text1{
    font-size: 24px;
    font-weight: 600;
}
.Register{
    width: 128px;
    height: 52px;
    padding: 14px 32px 14px 32px;
    gap: 10px;
    border-radius: 4px;
    background-color: #4CAF4F;
    color: #FFFFFF;
    text-decoration: none;
}
.dot{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 450px;
    width: 10px;
    height: 10px;
}
.dot1{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #4CAF4F;
    border-radius: 50%;
    list-style-type: none;
}
.dot2{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #4CAF4F;
    border-radius: 50%;
    list-style-type: none;
}
.dot3{
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #4CAF4F;
    border-radius: 50%;
    list-style-type: none;
}
.header2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0px 144px 0px 144px;
    gap: 16px;
    background-color: #FFFFFF;
    /* margin: 50px; */
}
.Logo2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 137px;
}
.header3{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0px 144px 0px 144px;
    background-color: #FFFFFF;
    gap: 16px;
}
.text3{
    text-align: center;
    padding: 80px;
}
.cards{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 299px;
    height: 260px;
    padding: 24px 32px 24px 32px;
    gap: 50px;
    border-radius: 8px;
}
/* .card1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 299px;
    height: 260px;
    padding: 24px 32px 24px 32px;
    gap: 8px;
    border-radius: 8px;
}
.card2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 299px;
    height: 280px;
    padding: 24px 32px 24px 32px;
    gap: 8px;
    border-radius: 8px;
}
.card3{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 299px;
    height: 260px;
    padding: 24px 32px 24px 32px;
    gap: 8px;
    border-radius: 8px;
} */
.header4{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 30px;
}
.text4{
    width: 661px;
    height: 268px;
    gap: 32px;
}
.Learn-More{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 151px;
    padding: 14px;
    gap: 10px;
    border-radius: 4px;
    text-decoration: none;
    background-color: #4CAF4F;
    color: #FFFFFF;
}
.header5{
    display: flex;
    width: 1,440px;
    height: 288px;
    padding: 64px 144px 64px 144px;
    gap: 0px;
    justify-content: space-between;
    background-color: #F5F7FA;  
}
.total{
    display: flex;
    flex-wrap: wrap;
    width: 540px;
    height: 160px;
    gap: 40px;
}
.header6{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 100px;
    gap: 30px;
}
.text6{
    width: 661px;
    height: 268px;
    gap: 32px;
}
.Learn-More2{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 151px;
    padding: 14px 32px 14px 32px;
    gap: 10px;
    border-radius: 4px;
    text-decoration: none;
    background-color: #4CAF4F;
    color: #FFFFFF;
}
.header7{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 32px 144px 32px 144px;
    gap: 78px;
    background-color: #F5F7FA;
}
.Meet-all-customers{
    display: flex;
    color: #4CAF4F;
    text-decoration: none;
}
.Icon7{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header8{
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    flex-direction: column;
    background-color: #FFFFFF;
}
.img8{
    display: flex;
    gap: 35px;
}
.img8-1{
    background-color: #ABBED166;
}
.Readmore{
    width: 285px;
    height: 44px;
    padding: 8px;
    gap: 8px;
    text-decoration: none;
}
.header9{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 50px;
}
.text9{ 
    font-family: Inter;
    font-size: 30px;
    line-height: 76px;
    text-align: center;
}
.Get-a-Demo{
    width: 178px;
    height: 52px;
    padding: 14px 32px 14px 32px;   
    gap: 8px;
    border-radius: 4px;
    background-color: #4CAF4F;
    color: #FFFFFF;
    text-decoration: none;
}
.header10{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #263238;
    /* padding: 300px; */
    width: 1,440px;
    height: 628px;
    top: 3748px;
}
.trip{
    width: 350px;
    height: 189.67px;
    gap: 40px;
    color: #FFFFFF;
}
.social{
    display: flex;
    width: 635px;
    height: 200px;
    gap: 30px;
    color: #F5F7FA;
}
.email{
    width: 255px;
    height: 40px;
    width: 255px;
    height: 40px;
    top: 52px;
    border-radius: 8px;
    background-color: #3d484d;
    border: 1px solid #3d484d;
}
